<div class="reference">
	<!-- CLASS -->
	<div class="class">
		<h1><%- data.name %></h1>
		<div class="name<% if(data.deprecated) { %><%- ' deprecated' %><% } %>">
			<%- "." + data.name + "(" + data.params.filter(y => !y.child).map(y => y.name).join(", ") + ")" %>
		</div>
		<div class="list">
			<div class="item">
				<div class="key">Source:</div>
				<div class="value">
					<a href="<%- '/views/' + data.module + '/source/' + data.source %>"><%- data.o_file %></a>, 
					<a href="<%- '/views/' + data.module + '/source/' + data.source + '#line' + data.line %>">Line <%- data.line %></a>
				</div>
			</div>
			<% if(data.async || data.static || data.generator || data.readonly || data.yields) { _%>
				<div class="item">
					<div class="key">Modifiers:</div>
					<div class="value">
						<% 
							var modifiers = [];

							if(data.async) {
								modifiers.push("async");
							}
							if(data.static) {
								modifiers.push("static");
							}
							if(data.generator) {
								modifiers.push("generator");
							}
							if(data.readonly) {
								modifiers.push("readonly");
							}
							if(data.yields) {
								modifiers.push("yields");
							}

							modifiers = modifiers.join(", ");
						_%><%- modifiers %>
					</div>
				</div>
			<% } _%>
			<% if(data.links && data.links.length > 0) { _%>
				<div class="item">
					<div class="key">See:</div>
					<div class="value"><%- data.links.join(", ") %></div>
				</div>
			<% } _%>
			<% if(data.aliases && data.aliases.length > 0) { _%>
				<div class="item">
					<div class="key">Aliases:</div>
					<div class="value"><%- data.aliases.join(", ") %></div>
				</div>
			<% } _%>
			<div class="item">
				<div class="key">Access:</div>
				<div class="value"><%- data.access %></div>
			</div>
			<% if(data.author) { _%>
				<div class="item">
					<div class="key">Author:</div>
					<div class="value"><%- data.author %></div>
				</div>
			<% } _%>
			<% if(data.default) { _%>
				<div class="item">
					<div class="key">Default:</div>
					<div class="value"><%- data.default %></div>
				</div>
			<% } _%>
			<% if(data.copyright) { _%>
				<div class="item">
					<div class="key">Copyright:</div>
					<div class="value"><%- data.copyright %></div>
				</div>
			<% } _%>
			<% if(data.since) { _%>
				<div class="item">
					<div class="key">Since:</div>
					<div class="value"><%- data.since %></div>
				</div>
			<% } _%>
			<% if(data.date) { _%>
				<div class="item">
					<div class="key">Date:</div>
					<div class="value"><%- data.date %></div>
				</div>
			<% } _%>
			<% if(data.license) { _%>
				<div class="item">
					<div class="key">Date:</div>
					<div class="value"><%- data.license %></div>
				</div>
			<% } _%>
			<% if(data.version) { _%>
				<div class="item">
					<div class="key">Version:</div>
					<div class="value"><%- data.version %></div>
				</div>
			<% } _%>
			<% if(data.summary) { _%>
				<div class="item">
					<div class="key">Summary:</div>
					<div class="value"><%- data.summary %></div>
				</div>
			<% } _%>
			<% if(data.todo) { _%>
				<div class="item">
					<div class="key">Todo:</div>
					<div class="value"><%- data.todo %></div>
				</div>
			<% } _%>
			<% if(data.override) { _%>
				<div class="item">
					<div class="key">Override:</div>
					<div class="value"><%- data.override %></div>
				</div>
			<% } _%>
		</div>
		<div class="desc"><%- data.description %></div>
		<% if(data.examples && data.examples.length > 0) { _%>
			<div class="examples">
				<h3>Examples</h3>
				<% data.examples.forEach(x => { _%>
					<div class="example"><%- x %></div>
				<% }); _%>
			</div>
		<% } _%>
	</div>

	<!-- SUMMARY -->
	<div class="summary">
		<h2>Summary</h2>
		<div class="table">
			<div class="row head">
				<div class="col a4">Name</div>
				<div class="col a8">Description</div>
			</div>
			<% data.functions.forEach(x => { _%>
				<div class="row">
					<div class="col a4">
						<a href="<%- '/views/' + data.module + '/reference/' + data.file + '#' + x.name %>"><%- x.name %></a>
					</div>
					<div class="col a8"><%- x.description %></div>
				</div>
			<% }); _%>
		</div>
	</div>

	<!-- FUNCTIONS -->
	<div class="functions">
		<h2>Functions</h2>
		<% data.functions.forEach(x => { _%>
			<div class="function">
				<div class="name<% if(x.deprecated) { %><%- ' deprecated' %><% } %>">
					<%- "." + x.name + "(" + x.params.filter(y => !y.child).map(y => y.name).join(", ") + ")" %>
				</div>
				<div class="list">
					<div class="item">
						<div class="key">Source:</div>
						<div class="value">
							<a href="<%- '/views/' + data.module + '/source/' + data.source %>"><%- x.file %></a>, 
							<a href="<%- '/views/' + data.module + '/source/' + data.source + '#line' + x.line %>">Line <%- x.line %></a>
						</div>
					</div>
					<% if(x.async || x.static || x.generator || x.readonly || x.yields) { _%>
						<div class="item">
							<div class="key">Modifiers:</div>
							<div class="value">
								<% 
									var modifiers = [];

									if(x.async) {
										modifiers.push("async");
									}
									if(x.static) {
										modifiers.push("static");
									}
									if(x.generator) {
										modifiers.push("generator");
									}
									if(x.readonly) {
										modifiers.push("readonly");
									}
									if(x.yields) {
										modifiers.push("yields");
									}

									modifiers = modifiers.join(", ");
								_%><%- modifiers %>
							</div>
						</div>
					<% } _%>
					<% if(x.links && x.links.length > 0) { _%>
						<div class="item">
							<div class="key">See:</div>
							<div class="value"><%- x.links.join(", ") %></div>
						</div>
					<% } _%>
					<% if(x.aliases && x.aliases.length > 0) { _%>
						<div class="item">
							<div class="key">Aliases:</div>
							<div class="value"><%- x.aliases.join(", ") %></div>
						</div>
					<% } _%>
					<div class="item">
						<div class="key">Access:</div>
						<div class="value"><%- x.access %></div>
					</div>
					<% if(x.author) { _%>
						<div class="item">
							<div class="key">Author:</div>
							<div class="value"><%- x.author %></div>
						</div>
					<% } _%>
					<% if(x.default) { _%>
						<div class="item">
							<div class="key">Default:</div>
							<div class="value"><%- x.default %></div>
						</div>
					<% } _%>
					<% if(x.copyright) { _%>
						<div class="item">
							<div class="key">Copyright:</div>
							<div class="value"><%- x.copyright %></div>
						</div>
					<% } _%>
					<% if(x.since) { _%>
						<div class="item">
							<div class="key">Since:</div>
							<div class="value"><%- x.since %></div>
						</div>
					<% } _%>
					<% if(x.date) { _%>
						<div class="item">
							<div class="key">Date:</div>
							<div class="value"><%- x.date %></div>
						</div>
					<% } _%>
					<% if(x.license) { _%>
						<div class="item">
							<div class="key">License:</div>
							<div class="value"><%- x.license %></div>
						</div>
					<% } _%>
					<% if(x.version) { _%>
						<div class="item">
							<div class="key">Version:</div>
							<div class="value"><%- x.version %></div>
						</div>
					<% } _%>
					<% if(x.summary) { _%>
						<div class="item">
							<div class="key">Summary:</div>
							<div class="value"><%- x.summary %></div>
						</div>
					<% } _%>
					<% if(x.todo) { _%>
						<div class="item">
							<div class="key">Todo:</div>
							<div class="value"><%- x.todo %></div>
						</div>
					<% } _%>
					<% if(x.override) { _%>
						<div class="item">
							<div class="key">Override:</div>
							<div class="value"><%- x.override %></div>
						</div>
					<% } _%>
				</div>
				<div class="desc"><%- x.description %></div>
				<% if(x.params && x.params.length > 0) { _%>
					<div class="params">
						<h3>Parameters</h3>
						<div class="table params">
							<div class="row head">
								<div class="col a3">Name</div>
								<div class="col a3">Type</div>
								<div class="col a6">Description</div>
							</div>
							<% x.params.forEach(y => { _%>
								<div class="row">
									<div class="col a3"><%- y.name %></div>
									<div class="col a3"><%- (typeof y.type === "string") ? y.type : y.type.join(", ") %></div>
									<div class="col a6"><span>
										<% 
											var description = y.description.trim();

											if(y.optional) {
												description += " (optional)";
											}
											if(y.child) {
												description += " (child)";
											}
											if(y.array) {
												description += " (array)";
											}
											if(y.default) {
												description += " (default: " + y.default + ")";
											}
										_%><%- description %>
									</span></div>
								</div>
							<% }); _%>
						</div>
					</div>
				<% } _%>
				<% if(x.examples && x.examples.length > 0) { _%>
					<div class="examples">
						<h3>Examples</h3>
						<% x.examples.forEach(y => { _%>
							<div class="example"><%- y %></div>
						<% }); _%>
					</div>
				<% } _%>
				<% if(x.throws && x.throws.length > 0) { _%>
					<div class="throws">
						<h3>Throws</h3>
						<div class="table">
							<div class="row head">
								<div class="col a3">Error</div>
								<div class="col a9">Description</div>
							</div>
							<% x.throws.forEach(y => { _%>
								<div class="row">
									<div class="col a3"><%- y.type %></div>
									<div class="col a9"><%- y.description %></div>
								</div>
							<% }); _%>
						</div>
					</div>
				<% } _%>
				<% if(x.emits && x.emits.length > 0) { _%>
					<div class="emits">
						<h3>Emits</h3>
						<div class="table">
							<div class="row head">
								<div class="col a3">Event</div>
								<div class="col a9">Description</div>
							</div>
							<% x.emits.forEach(y => { _%>
								<div class="row">
									<div class="col a3"><%- y.event %></div>
									<div class="col a9"><%- y.description %></div>
								</div>
							<% }); _%>
						</div>
					</div>
				<% } _%>
				<% if(x.return && x.return.type) { _%>
					<div class="return">
						<h3>Returns</h3>
						<div class="item">
							<div class="key">Type</div>
							<div class="value"><%- x.return.type %></div>
						</div>
						<div class="item">
							<div class="key">Description</div>
							<div class="value"><%- x.return.description %></div>
						</div>
					</div>
				<% } _%>
			</div>
		<% }); %>
	</div>
</div>